---
import FormattedDate from "./formatted-date.component.astro";

interface Props {
  date: Date;
  minutesRead: string;
}

const { date, minutesRead } = Astro.props;
---

<div
  class="flex gap-4 items-center uppercase text-sm font-medium text-gray-500"
>
  <FormattedDate date={date} />

  <span
    class="relative before:content-['â—'] before:text-[8px] before:absolute before:left-[-10px]"
    >{minutesRead}</span
  >
</div>
